.error-message {
  position: absolute;
  top: 100px; /* Adjust this value to position the error message */
  left: 0;
  right: 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.error-message.show {
  opacity: 1;
}