/* CreateUserName.css */

.form-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust this value to change the maximum width of the form */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add some padding around the form */
}

.error-message {
  position: absolute;
  top: 60px; /* Adjust this value to position the error message */
  left: 0;
  right: 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.error-message.show {
  opacity: 1;
}

.submit-button {
  margin-top: 120px; /* Adjust this value to position the submit button */
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .form-container {
    padding: 10px; /* Reduce the padding around the form */
  }

  .error-message {
    top: 50px; /* Adjust this value to position the error message */
  }

  .submit-button {
    margin-top:110px; /* Adjust this value to position the submit button */
  }
}
